* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

:root {
  --primary-background-color: #1C3144;
  --secondary-background-color: #C3D898;
  --primary-text-color: #7EA16B;
  --white-color: #FFFFFF;
  --max-width: 80%;
}
