.details-series {
  text-align: center;
}

.details-series__image {
  margin: auto;
  width: 350px;
}

.details-series__title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.details-series__image img {
  width: 100%;
  height: 100%;
}
